:root {
  --branding-color: #00adb5;
  --secondary-color: #eeeeee;
  --heading-font-family: "Acme", sans-serif;
  --default-font-family: "Inconsolata", monospace;
}
.navbar-brand {
  padding: 40px;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
.nav-item {
  font-size: 22px;
}

.hero {
  background-color: #f4eeff;
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #3282b8;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5;
  color: #40514e;
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}
.content {
  margin: 20px;
}
.content p {
  font-size: 14px;
}
.about-img {
  border-radius: 30px;
  margin: 40px;
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  font-family: var(--default-font-family);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}

.footer {
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 20px;
  margin: 40px 40px;
  padding: 40px 5px 15px;
}
.btn-footer {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  font-family: var(--default-font-family);
  margin-top: 20px;
}

.footer-contact {
  text-align: center;
}

.icons a {
  padding: 20px;
  margin: 0 0 50px;
}
